RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /WEBASSIGNMENT2/index.php?path=$1 [NC,L,QSA]
php_value upload_max_filesize 10M
php_value post_max_size 10M
