{
margin: 0px;
padding: 0px;
}
body {
	font-size: 100%;
	background: #A4BAB7;

} 
.header {
	width: 40%;
	margin: 40px auto 0px;
	color: white;
	background: #BEA57D;
	text-align: center;
	border: 1px solid #5E6472;
	border-bottom: none;
	border-radius: 11px 11px 0px 0px;
	padding: 22px;

}
form {
	width: 40%;
	margin: 0px auto;
	padding: 21px;
	border: 2px solid #312F2F;
	background: white;
	border-radius: 0px 0px 12px 12px; 
}
.input-group {
	margin: 11px 0px 11px 0px;

}
.input-group label {
	display: block;
	text-align: left;
	margin: 4px;
}
.input-group input {
	height: 31px;
	width: 94%;
	padding: 6px 11px;
	font-size: 17px;
	border-radius: 6px;
	border: 2px solid black;
}
.btn {
	padding: 11px;
	font-size: 16px;
	color: white;
	background: #54C6EB;
	border: none;
	border-radius: 6px; 
}
