body,html {
	-webkit-text-size-adjust: none;
	text-size-adjust: none
}
div {
	display: inline-block;
}

.checked {
  color: yellow;
}


.main {
	text-align: center;
	width: 100%;
	background-color: rgb(200,200,200);
	background-image: url("flower.jpg");
}
.parentContainer {
	width: 1212px;
	background-color: rgb(248,230,248);
	box-shadow: 2px 2px 2px grey;
	/*background-color: rgb(248,248,248);*/
   	opacity: 0.9;
}

.childContainer {
	box-shadow: 2px 2px 2px grey;
	/*border: 1px solid black;*/
	padding: 1px;
}

.container {
	box-shadow: 2px 2px 2px grey;
	width: 100%;
}




.ch {
	padding: 3px;
	margin: 3px;
	float:left;
	width: 190px;
	text-align: left;
	background-color: white;
	box-shadow: 1px 1px 1px lightgrey;
}
.ch div {
	width: 100%;

	word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}


.product {
	box-sizing: border-box;
	float: bottom;
	overflow: hidden;
	margin: 2px;
}
.product .title {
    font-size: 1em;
    line-height: 1em;
    height: 2em;
    -webkit-line-clamp: 2;
}
.product .price {
	color: grey;
	line-height: 2em;
	height: 3em;
	margin-top: 0em;
	-webkit-line-clamp: 1;

}
.product .description {
	margin-top: -.5em;
	font-size: 1em;
	line-height: 1em;
	height:4em;
    -webkit-line-clamp: 3;
}
.product .rating {
	margin-top: .5em;
}




a {
	color: inherit;
	text-decoration: none;
}
.ch:hover {
	background-color: orange;
}
.im {
	width: 188px;
	height:188px;
	text-align: left;
}

.footer {
	background-color: darkgrey;
	width: 100%;
}